<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="table-ajax">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nommbre</th>
          <th>Tel. Personal</th>
          <th>Email Personal</th>
          <th>Tel. Oficina</th>
          <th>Email Oficina</th>
          <th>Fecha Nacimiento</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{contactsPadre}}" as="item">
        <tr>
            <td>[[item.id]]</td>
            <td>[[item.nombre]]</td>
            <td>[[item.telpersonal]]</td>
            <td>[[item.correopersonal]]</td>
            <td>[[item.teloficina]]</td>
            <td>[[item.correooficina]]</td>
            <td>[[item.fechanacimiento]]</td>
            <td><paper-button raised id$="[[item.id]]" on-click="edit">Editar</paper-button></td>
            <td><paper-button raised id$="[[item.id]]" on-click="delete">Eliminar</paper-button></td>
        </tr>
        </template>
      </tbody>
    </table>

  </template>

  <script>
    /**
     * `table-ajax`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TableAjax extends Polymer.Element {
      static get is() { return 'table-ajax'; }

      static get properties() {
        return {
          contactsPadre: {
            type: Object,
          },
        };
      }

      edit(e) {
        console.log(e.path[2].id);
      }

      delete(e) {
        console.log(e.path[2].id);
      }

    }

    window.customElements.define(TableAjax.is, TableAjax);
  </script>
</dom-module>
